@font-face {
    font-family: 'Benzin';
    src: url(../font/Benzin-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
  }
  @font-face {
    font-family: 'Benzin';
    src: url(../font/Benzin-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
  }
  @font-face {
    font-family: 'Benzin';
    src: url(../font/Benzin-Semibold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
  }
  @font-face {
    font-family: 'Benzin';
    src: url(../font/Benzin-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
  }