@media (max-width: 1600px) {
    .popUp {
        &-content {
            padding: 40px;
        }
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
        .form {
            .input-box {
                .form__inp {
                    width: 100%;
                    height: 70px;
                    font-size: 20px;
                }
            }
            &__btn {
                width: 100%;
                height: 70px;
                font-size: 20px;
            }
            .form__check {
                margin-right: 10px;
                min-width: 25px;
                min-height: 25px;
                &::before {
                    top: 1px;
                    left: 4px;
                    display: none;
                }
                &:checked::before {
                    display: block;
                }
            }
            .form__text {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    .popUp.review {
        .popUp-content {
            .review-info {
                max-height: 200px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &-sup {
            padding: 10px 0;
            .header__icon {
                margin-right: 5px;
            }
        }
        &-info {
            font-size: 10px;
            line-height: 12px;
        }
        .backCall__btn {
            width: 140px;
            height: 35px;
            font-size: 9px;
        }
        .nav {
            line-height: 12px;
        }
      }

      .title__text {
        font-size: 28px;
        line-height: 38px;
      }

      .wrapper {
        &-sub-title {
            font-size: 18px;
            line-height: 50px;
            margin: 10px 0 30px;
        }
        &-info {
            &__img {
                margin-right: 10px;
            }
        }
        &-box {
            width: 95%;
        }
        &-item {
            &__text {
                font-size: 12px;
                line-height: 24px;
            }
        }
        &-order {
            .order__btn {
                width: 360px;
            }
        }
      }

    .testPrice {
        &-item {
            width: 65%;
        }
        &-right {
            width: 35%;
        }
    }
    .testPrice {
        margin: 40px 0;
    
        &-box {
            margin-top: 30px;
            box-shadow: none;
            height: 850px;
            &-btns {
                margin-top: 20px;
            }
        }
        .slide {
            .check-box {
                width: 49%;
                font-size: 10px;
            }

        }
        &-item {
            padding: 30px 15px;
    
            &__title {
                font-size: 16px;
                margin: 30px;
            }
    
            .testPrice-card {
                width: 46%;
                margin-bottom: 20px;
                &__img {
                    height: 180px;
                }
                &__title {
                    margin-top: 20px;
                }
            }
        }
    }
    .product-page {
        &-info {
            &-item {
                justify-content: space-between;
                .list {
                    font-size: 10px;
                    padding: 0 5px;
                    width: 49%;
                    margin-right: 0;
                    justify-content: center;
                    text-align: center;
                }
            }
        }
    }

    .popUp {
        &-content {
            width: 98%;
            padding: 40px;
        }
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        &-sup {
            padding: 10px 0;
            .header__icon {
                margin-right: 5px;
            }
        }
        &-info {
            display: none;
        }
        .backCall__btn {
            display: none;
        }
        .nav {
            &-item {
                display: none;
            }
        }
      }

      .banners {
        margin: 50px 0;
        &__title {
            font-size: 20px;
            line-height: 28px;
        }
        &__title-sub {
            font-size: 16px;
            margin: 10px 0;
        }
        &__text {
            font-size: 12px;
        }
        .banner1 {
            width: 65%;
            &-info {
                width: 60%;
                padding: 25px 35px;
            }
            &-img {
                width: 40%;
            }
            .banners__title-sub {
                width: 100%;
            }
            .banners__text {
                width: 100%;
            }
        }
        .banner2 {
            width: 34%;
        }
        .banner3 {
            &-box {
                width: 65%;
                padding: 25px 35px;
            }
            &-form {
                margin-top: 20px;
                .input-box {
                    width: 49%;
                }
                .form__submit {
                    width: 49%;
                }
            }
            &-img {
                width: 35%;
            }
        }
      }
      .kitchen-banners {
        .desired-budget {
            width: 55%;
        }
        .banner3{
            &-box {
                width: 75%;
            }
            &-form {
                .form__submit {
                    width: 43%;
                }
            }
        }
    }

      .title__text-sub {
        font-size: 24px;
        line-height: 32px;
      }
      .complete {
        &::before {
            width: 300%;
        }
        &-item {
            width: 49%;
            margin-right: 1%;
        }
      }
    .banner-sale {
        &__title {
            font-size: 24px;
            line-height: 32px;
        }
        &__text {
            font-size: 12px;
            line-height: 20px;
            color: #939393;
        }
        
    .banner-sale-box {
        padding-left: 0;
    }
    }
    .banner-sale2,
    .banner-sale4,
    .banner-sale3 {
        .banner-sale-box {
            padding-left: 0;
        }
    }
    .projects {
        .project-card {
            width: 49%;
        }
    }

    .aside {
        margin: 60px 0;
        padding: 120px 0;
        .forYou {
            &-info {
                width: 100%;
            }
            .info__text {
                margin: 20px 0;
            }
            .video-link {
                width: 70%;
                margin: 20px 0;
            }
    
            &-item {
                width: 49%;
            }
        }
    }

    .howOrder {
        &-item {
            width: 49%;
        }
    }

    .filters-box {
        margin-top: 50px;
        .filters-border {
            width: 42%;
            padding: 0 30px 0;
        }
        .filters-right {
            width: 56%;
    
            .project-card {
                width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
                display: none;
                &:nth-child(-n + 5) {
                    display: block;
                }
            }
        }
    }

    .banners {
        .banner3{
            &-box {
                width: 100%;
            }
        }
    }

    .my-banner {
        margin: 50px 0 0;
        .row{
            padding: 20px;
            min-height: 300px;
         }
         &__title {
            font-size: 28px;
            line-height: 38px;
         }
         &__text {
            font-size: 28px;
            line-height: 38px;
         }
         &__link {
            width: 260px;
            height: 55px;
            border-radius: 50px;
            font-size: 14px;
         }
         .wrapper-social {
            left: 80%;
         }
         .sale-circle {
            width: 120px;
            height: 120px;
            font-size: 28px;
            left: 55%;
         }
     }

     .reviews {
        margin: 30px 0 0;
    
        &-box {
            margin-top: 30px;
            &::before {
                content: '';
                width: 700%;
            }
        }
        .review {
            width: 49%;
            margin-bottom: 30px;
        }
    }

    .contact {
        &-item {
            &:last-child {
                padding-left: 20px;
            }
        }
        .map {
            height: 400px;
        }
        &-card {
            height: 320px;
        }
    }
    .head-page {
        background: #EDEDED;
    }
}


@media (max-width: 768px) {
    .wrapper {
        background-image: none;
        height: auto;
        padding-bottom: 0;
        padding-top: 25px;
        &__img {
            width: 105%;
            object-fit: contain;
            object-position: center;
            margin-top: -30px;
            margin-left: -2.5%;
        }
        .title__text {
           font-size: 20px;
           line-height: 30px;
        }
        &-sub-title {
            font-size: 12px;
            line-height: 27px;
            padding: 0 8px;
            margin: 5px 0 20px;
        }
        &-info {
            &__img {
                margin-right: 15px;
            }
            &__text {
                font-size: 11px;
                line-height: 21px;
            }
        }
        &-box {
            width: 100%;
        }
        &-item {
            width: 100%;
            margin-top: 22px;
            &__img {
                margin-right: 17px;
            }
            &__text {
                font-size: 12px;
                line-height: 20px;
            }
        }
        &-order {
            margin-top: 30px;
            .order__btn {
                width: 280px;
                height: 70px;
                text-transform: uppercase;
                margin-right: 0;
            }
            &__text {
                width: 100%;
                font-size: 11px;
                line-height: 19px;
                margin-top: 20px;
                position: relative;
                z-index: 2;
            }
        }
        &-notifications {
            color: #fff;
            font-size: 8px;
            line-height: 15px;
            padding: 16px;
            width: 157px;
            top: 15%;
            right: 55%;
            .founder {
                margin-top: 5px;
                span {
                    font-size: 7px;
                }
            }
        }
        &-social {
            display: none;
        }
      }

      .kitchen-wrapper {
        .wrapper__img {
            margin-top: 10px;
        }
      }

      .banners {
        .banner1 {
            width: 100%;
            &-info {
                width: 60%;
                padding: 25px 35px;
            }
            &-img {
                width: 40%;
            }
            .banners__title-sub {
                width: 100%;
            }
            .banners__text {
                width: 100%;
            }
        }
        .banner2 {
            width: 100%;
            margin-top: 10px;
        }
        .banner3 {
            flex-direction: column-reverse;
            padding-bottom: 50px;
            position: relative;
            &-box {
                width: 100%;
                padding: 25px 35px;
            }
            &-form {
                margin-top: 20px;
                padding-bottom: 90px;
                .input-box {
                    width: 49%;
                }
            }
            &-img {
                width: 100%;
                height: auto;
                img {
                    position: relative;
                    object-fit: contain;
                }
            }
        }
        .wrapper-social {
            width: 222px;
            height: 105px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50px 50px 0 0;
            top: 89%;
            &__link {
                svg {
                    width: 50px;
                    height: 50px;
                }
            }
         }
      }
      .projects {
        .project-card {
            &-body {
                padding: 15px;
            }
        }
    }

    .testPrice {
        margin: 40px 0;
    
        &-box {
            margin-top: 30px;
            &-btns {
                margin-top: 20px;
            }
        }
        .slide {
            .check-box {
                width: 49%;
                font-size: 10px;
            }

        }
        &-item {
            padding: 30px 15px;
    
            &__title {
                font-size: 16px;
                margin: 30px;
            }
    
            .testPrice-card {
                width: 46%;
                margin-bottom: 20px;
                &__img {
                    height: 180px;
                }
                &__title {
                    margin-top: 20px;
                }
            }
        }
    }

    .testPrice {
        &-box {
            height: auto;
            &-btns {
                margin-top: 20px;
            }
        }
        &-item {
            width: 100%;
            height: 870px;
        }
        &-right {
            width: 100%;
            position: relative;
            padding: 20px 20px 0 20px;
            .mob {
                position: relative;
                width: 300px;
                margin: 0 auto;
            }
            &-info {
                top: 50px;
                left: 10%;
            }
            &__photo {
                position: relative;
            }
        }
    }

    .popUp.zoom {
        .popUp__img {
            width: 340px;
            height: auto;
        }
    }

    .banners {
        .banner3{
            position: relative;
            &-box {
                width: 100%;
                position: relative;
                z-index: 2;
            }
            &-form {
                width: 100%;
            }
            .banner3-img {
                position: relative;
                margin-top: -65px;
            }
        }
    }

    .product-page {
        &-photo {
            width: 100%;
            height: 400px;
        }
        .basket__icon {
            width: 45px;
        }
        &-info {
            width: 100%;
            .price {
                font-size: 16px;
                line-height: 18px;
            }
            &__text {
                font-size: 12px;
                line-height: 14px;
                margin-top: 14px;
            }
            &-item {
                margin-top: 20px;
                .list {
                    width: 100%;
                    margin-bottom: 10px;
                    font-size: 13px;
                }
            }
        }
        &-item {
            width: 100%;
            margin-top: 20px;
        }
        .characteristics {
            margin-top: 50px;
        }
    }
    .aside-product {
        padding: 0;
        margin: 50px 0;
    }

    .large-kitchens {
        margin-top: 30px;
        color: #1D1D1D;
        .info__text {
            margin: 10px 0 20px;
        }
     }
     .photo-video {
        &-item {
            height: 300px;
        }
    }
    .popUp.review {
        .popUp-content {
            width: 100%;
            padding: 25px 20px;
            .review-info {
                max-height: 300px;
            }
            .review__text {
                margin-bottom: 10px;
            }
            .review-item {
                width: 49%;
                margin-top: 10px;
                .review__img {
                    width: 100%;
                    height: 180px;
                }
                .play {
                    width: 60px;
                }
            }
        }
    }
    .banner-sale3 {
        .banner-sale-form {
            .input-box {
                width: 45%;
                margin-right: 10px;
            }
            .form__submit {
                width: 50%;
            }
            label.input-box {
                width: 45%;
            }
        }
    }
    .contact {
        &-item {
            width: 100%;
            &__img {
                height: 200px;
            }
            &:last-child {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                outline: 0;
            }
        }
        .map {
            height: 320px;
            margin-top: 50px;
        }
        &-card {
            width: 100%;
            margin-top: 30px;
            &:first-child {
                margin-top: 50px;
            }
        }
        &-box {
            &-info {
                width: 100%;
                white-space: wrap;
            }
            &__logo {
                width: 219px;
            }
        }
    }
}

@media (max-width: 576px) {
    .banners {
        .banner1 {
            text-align: center;
            &-info {
                width: 100%;
            }
            &-img {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                img {
                    width: 95%;
                    position: relative;
                    object-fit: contain;
                }
            }
            .banners__title-sub {
                width: 100%;
            }
            .banners__text {
                width: 100%;
            }
        }
        .banner2 {
            width: 100%;
            margin-top: 10px;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            padding: 30px 0;
            &__text {
                width: 80%;
                margin-bottom: 20px;
            }
            &__img2 {
                position: relative;
            }
        }
        .banner3 {
            text-align: center;
            background: #1F1F1F;
            &-box {
                width: 100%;
                padding: 25px 35px;
            }
            &-form {
                margin-top: 20px;
                .input-box {
                    width: 100%;
                }
                .form__submit {
                    width: 100%;
                }
                .form__text {
                    text-align: left;
                }
                .type-furniture {
                    width: 100%;
                }
            }
            &-img {
                width: 100%;
                height: auto;
                img {
                    position: relative;
                    object-fit: contain;
                }
            }
        }
      }

      .kitchen-banners {
        .desired-budget {
            width: 100%;
        }
        .banner3{
            &-box {
                width: 100%;
            }
        }
    }

      .title__text-sub {
        font-size: 18px;
        line-height: 28px;
      }
      .info__text {
        font-size: 12px;
        line-height: 20px;
      }

      .complete {
        padding: 40px 0;
        .title__text-sub {
            width: 80%;
            margin-bottom: 20px;
        }
    
        &-item {
            width: 100%;
            height: 120px;
            margin-top: 10px;
            justify-content: center;
            align-items: center;
            margin-right: 0;
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(132, 19, 8, 0.90);
                display: none;
            }
            .vertical__text {
                display: none;
            }
            &__num {
                display: none;
            }
    
            &-info {
                display: none;
            }
            &__bg {
                object-position: left -300px;
            }
            &__link {
                width: 40px;
                height: 40px;
                border-radius: 60%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #fff;
            }
            &:hover::after {
                display: block;
            }
            &:hover {
                .complete-item__link {
                    background: #fff;
                    svg path {
                        fill: rgba(132, 19, 8, 0.90);
                    }
                }
            }
            
        }
        &-catalogs {
            width: 223px;
            height: 62px;
            border-radius: 50px;
            background: #841308;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }
     }

     .banner-sale {
        margin: 50px 0;
        .row{
            background-image: none;
            padding: 0;
            border-radius: 0;
         }
         &-box {
            background: #1D1D1D;
            border-radius: 20px;
            .bg__img {
                width: 100%;
                object-fit: contain;
                margin-bottom: 20px;
            }
         }
         &__title {
            font-size: 18px;
            line-height: 28px;
            width: 100%;
            padding: 0 30px;
         }
         &__text {
            padding: 0 30px;
         }
         &-form {
            padding: 30px 30px 150px 30px;
            .input-box {
                width: 100%;
            }
    
            .desired-budget {
                width: 100%;
            }
    
            .form__submit {
                width: 100%;
            }
            .form__text {
                text-align: left !important;
            }
         }
         .wrapper-social {
            width: 222px;
            height: 105px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50px 50px 0 0;
            top: 89%;
            &__link {
                svg {
                    width: 50px;
                    height: 50px;
                }
            }
         }
     }

     .banner-sale2,
     .banner-sale4,
     .banner-sale3 {
        .banner-sale-form {
            padding-top: 0;
            .input-box {
                width: 100%;
                margin-top: 10px;
                margin-right: 0;
            }
            label.input-box {
                width: 100%;
            }
        }
     }

     .arrow-down {
        left: 47%;
     }

     .projects {
        .project-card {
            width: 100%;
            &-head {
                height: 225px;
            }
            &-body {
                &-item li {
                    font-size: 11px;
                }
                .price {
                    font-size: 13px;
                }
                &-btns {
                    button {
                        font-size: 10px;
                        height: 50px;
                    }
                }
                .learn-more {
                    font-size: 10px;
                    height: 50px;
                }
            }
        }
    }

    .aside {
        margin: 60px 0;
        padding: 100px 0;
        &::before {
            width: 450%;
        }
        .forYou {
            text-align: center;
            .info__text {
                margin: 10px 0 30px;
            }
            .experience {
                width: 100%;
                margin-bottom: 20px;
                &__title {
                    font-size: 24px;
                }
            }
            .video-link {
                width: 100%;
            }
    
            &-item {
                width: 100%;
                &__title {
                    font-size: 14px;
                }
    
            }
        }
        .our-clients  {
            .review__read {
                margin: 0 auto;
            }
        }
    }

    .howOrder {
        margin-bottom: 40px;
        &-item {
            width: 100%;
            margin-top: 10px;
            &:first-child {
                margin-top: 30px;
            }
        }
    }
    .seo {
        &__title {
            font-size: 18px;
            line-height: 26px;
        }
    }

    .banner-sale3 {
        .banner-sale-form {
            .download__img {
              margin-top: 15px;
            }
            .download__img-name {
                position: relative;
                top: 0;
            }
            .download-img {
                width: 100%;
            }
            .form__submit {
                width: 100%;
            }
        }
     }

    .popUp {
        &-content {
            width: 95%;
            padding: 30px 10px;
        }
        &__title {
            font-size: 20px;
            line-height: 26px;
        }
        &__sub-text {
            font-size: 12px;
        }
    }

    
    .filters-box {
        margin-top: 0;
        .info__text {
            margin-bottom: 30px;
        }
        .filters-border {
            width: 100%;
            height: auto;
            position: absolute;
            background: #fff;
            left: 0;
            top: 140px;
            z-index: 10;
            border: none;
            padding: 30px 15px;
            .borderMob {
                border: 1px solid #B6B6B6;
                border-radius: 20px;
                padding: 0 0 0 50px ;
            }
        }
        .filters-right {
            width: 100%;
        }
    }

    .project-card {
        display: none;
        &:nth-child(-n + 5) {
            display: block;
        }
    }

    
    .my-banner {
        .row{
            padding: 0;
            margin: 0 5px;
            min-height: 340px;
            background-image: url(../img/png/myB-mob.png);
         }
         .row>* {
            padding: 0;
         }
         &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            padding: 25px 25px 150px 25px;
            width: 100%;
         }
         &__title {
            font-size: 28px;
            line-height: 38px;
         }
         &__text {
            font-size: 28px;
            line-height: 38px;
         }
         &__link {
            width: 260px;
            height: 55px;
            border-radius: 50px;
            font-size: 14px;
         }
         .wrapper-social {
            width: 222px;
            height: 105px;
            left: 50%;
            top: 84%;
            transform: translateX(-50%);
            border-radius: 50px 50px 0 0;
            &__link {
                svg {
                    width: 50px;
                    height: 50px;
                }
            }
         }
         .sale-circle {
            top: 10%;
            left: 40%;
         }
     }
     .my-banner5 {
        .my-banner__title {
            font-size: 18px !important;
            line-height: 28px !important;
        }
        .my-banner__text {
            font-size: 16px !important;
            line-height: 20px !important;
            border: 1px solid #B6B6B6;
            padding: 5px 15px;
            border-radius: 30px;
            &::before {
                display: none !important;
                width: 0;
            }
        }
     }

     .aside-product {
        padding: 0;
        margin: 50px 0;
    }

    .seo {
        &-info {
            max-height: 500px;
        }
    }

    .reviews {
        .review {
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .photo-video {
        &-item {
            height: 300px;
        }
    }


    .popUp.calculate {
        .popUp-content {
            width: 98%;
            padding: 40px 0;
        }
        .popUp__title {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 10px;
            padding: 0 40px;
        }
        .calculate-form {
            padding: 20px;
            &__title {
                font-size: 15px;
            }
            .form-lab {
                width: 50%;
                margin-bottom: 10px;
                margin-right: 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .size {
                .form-lab {
                    width: 150px;
                }
            }
            .material,
            .closet {
                .form-lab {
                    width: 48%;
                }
            }
            .worktop {
                .form-lab {
                    span {
                        font-size: 12px;
                    }
                }
            }
            &-box {
                margin-top: 20px;
                &__text {
                    line-height: 20px;
                    margin: 15px 0 20px;
                }
                .form-item {
                    width: 100%;
                    margin-bottom: 15px;
                    &:last-child {
                        width: 100%;
                        margin-bottom: 0;
                    }
                }
            }
            &__btn {
                width: 100%;
            }
        }
    }

    .popUp {
        &-content {
            padding: 20px;
        }
        &__title {
            font-size: 26px;
            line-height: 35px;
            text-align: center;
            padding: 20px 30px 0;
        }

        .form {
            width: 100%;
            .input-box {
                width: 100%;
                position: relative;
                margin-bottom: 15px;
                svg,
                img {
                    left: 25px;
                }
                .form__inp {
                    height: 70px;
                    border-radius: 50px;
                    border: 1px solid #fff;
                    font-size: 18px;
                    padding: 0 20px 0 60px;
                }
            }
            &__btn {
                height: 70px;
                font-size: 20px;
            }
            .form__check {
                margin-right: 10px;
                min-width: 25px;
                min-height: 25px;
                &::before {
                    top: 0px;
                    left: 4px;
                }
            }
            .form__text {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    .head-page {
        font-size: 10px;
    }

    .order {
        margin-top: 40px;
        .title__text-sub {
            margin-bottom: 30px;
        }
        &-sup__text {
            font-size: 12px;
            line-height: 22px;
        }
        &-list {
            li {
                font-size: 12px;
                line-height: 22px;
                margin-top: 10px;
                &::before {
                    width: 1px;
                    height: 55px;
                }
            }
        }
    }
    .banner-sale5 {
        .row {
            background-image: none;
            overflow: hidden;
        }
        .banner-sale-box {
            background-image: url(../img/png/b-bg.png);
            text-align: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 40px 0 100px;
            display: flex;
            align-items: center;
            border-radius: 25px;
            flex-direction: column;
            overflow: hidden;
        }
        .banner-sale__text-sup {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 1px;
            padding: 10px 19px;
            border: 1px solid #fff;
            border-radius: 30px;
            display: inline-block;
        }
        .banner-sale__title {
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 1.3px;
        }
        .star__icon {
            position: relative;
            left: 0;
            top: 0;
        }
        .wrapper-social {
            top: 83.5%;
        }
    }

    .banner-sale6 {
        .banner-sale-box {
            background-image: url(../img/png/banner-sale-mob6.png);
            text-align: center;
            padding: 0;
            padding-top: 34px;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 679px;
        }
        .banner-sale-form {
            padding: 20px 25px 150px 25px;
            .input-box {
                width: 100%;
            }
            .form__submit {
                width: 100%;
            }
        }
        .banner-sale__title {
            font-size: 22px;
            line-height: 32px;
        }
        .wrapper-social {
            top: 85%;
        }
    }

    .faqs {
        &__title {
            font-size: 12px;
            line-height: 22px;
            margin-top: 30px;
        }
        &__text {
            font-size: 12px;
            line-height: 22px;
            margin-top: 10px;
        }
    }

    .credit {
        background-image: none;
        margin-top: 30px;
        padding: 0;
        &-box {
            background-image: url(../img/png/b-bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 20px;
            padding: 33px;
            position: relative;
            overflow: hidden;
        }
        &__title {
            font-size: 28px;
            line-height: 38px;
        }
        &-info {
            font-size: 14px;
            line-height: 24px;
            img {
                margin-right: 15px;
            }
        }
        .star__icon {
            position: absolute;
            width: 250px;
            top: 48%;
            left: 55%;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
            margin-top: 30px;
        }
        &-item {
            width: 160px;
            height: 220px;
            border-radius: 20px;
            background: #fff;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            padding: 23px 20px;
            text-align: center;
            &__title {
                font-size: 50px;
                line-height: 50px;
                font-weight: 700;
                color: #841308
            }
            &__text {
                font-size: 12px;
                line-height: 22px;
                font-weight: 600;
                color: #4E4E4E;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }

    .footer {
        border-width: 20px;
        padding-top: 20px;
    }

    .sale-page {
        margin-top: 40px;
        .my-banner {
            margin: 30px 0;
        }
    }
}